<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBaQeBtoJN_NjeUR8qGGJSAJ-VHiCa2U2g</string>
	<key>GCM_SENDER_ID</key>
	<string>66531006495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditClone</string>
	<key>PROJECT_ID</key>
	<string>iyarkai-e07cc</string>
	<key>STORAGE_BUCKET</key>
	<string>iyarkai-e07cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66531006495:ios:3a8b0be15ebd1ec18d9d2a</string>
	<key>DATABASE_URL</key>
	<string>https://iyarkai-e07cc-default-rtdb.firebaseio.com</string>
</dict>
</plist>